<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbr">
  <a class="navbar-brand" href="#">AngLand</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse navbar-text" id="navbarText">
    <ul class="navbar-nav ml-auto mr-5  text-center">
      <li class="nav-item ">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Work</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Testimonials</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Pricings</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>

  </div>

</nav>


<header class="heading text-center">
  <div class="head">
    <h4 class="headtitle">Best Offer For you</h4>
    <h2 class="sub-headtitle">Best Material Design App Landing Page</h2>



    <p class="lorem mt-4">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque totam sint
      <!-- </p >
      <p class="sub-lorem"> -->
      suscipit accusamus fugit quibusdam similique maxime distinctio reiciendis at.

    </p>
    <div class="example-button-row mt-5">
      <button mat-raised-button class="headbtn">Buy Now</button>

    </div>
    <div class="headimg mt-5">
      <img src="../assets/headimg.jpg" class="img-fluid mainimg" alt="Responsive image" width="500" height="600">
    </div>
  </div>

</header>

<!-- features -->
<div class="features">

  <div class=" text-center">
    <h2 class="featurehead ">Features that you can trust upon</h2>
    <p class="featurespara mt-5">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit id error rem qui. Neque aperiam saepe placeat vero
      reprehenderit.
    </p>
  </div>

  <div class="container">
    <div class="row rowtop ">
      <div class="col-lg-4  col-md-4 col-sm-6 col-xs-12 mb-5">

        <h1 class="num mb-4">01<span>.</span></h1>
        <div class="fullresponsive">Full Responsive</div>
        <p class="mt-4">
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
          aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto .

        </p>
      </div>

      <div class="col-lg-4  col-md-4 col-sm-6 col-xs-12 mb-5">

        <h1 class="num  mb-4">02<span>.</span></h1>
        <div class="fullresponsive">Full Responsive</div>
        <p class="mt-4">
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
          aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto .

        </p>
      </div>



      <div class="col-lg-4  col-md-4 col-sm-6 col-xs-12  mb-5">

        <h1 class="num  mb-4">03<span>.</span></h1>
        <div class="fullresponsive">Full Responsive</div>
        <p class="mt-4">
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
          aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto .

        </p>
      </div>





      <div class="col-lg-4  col-md-4 col-sm-6 col-xs-12 mb-5">

        <h1 class="num  mb-4">04<span>.</span></h1>
        <div class="fullresponsive">Full Responsive</div>
        <p class="mt-4">
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
          aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto .

        </p>
      </div>


      <div class="col-lg-4  col-md-4 col-sm-6 col-xs-12  mb-5">

        <h1 class="num">05<span>.</span></h1>
        <div class="fullresponsive">Full Responsive</div>
        <p class="mt-4">
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
          aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto .

        </p>
      </div>


      <div class="col-lg-4  col-md-4 col-sm-6 col-xs-12  mb-5">

        <h1 class="num  mb-4">06<span>.</span></h1>
        <div class="fullresponsive">Full Responsive</div>
        <p class="mt-4">
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
          aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto .

        </p>
      </div>
    </div>
  </div>
</div>


<!-- end of features -->


<!-- service -->

<div class="service">
  <div class="text-center">
    <h1 class="servicetitle">
      Service
    </h1>

    <p class="servicepara mt-5">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit id error rem qui. Neque aperiam saepe placeat vero
      reprehenderit.

    </p>
  </div>

  <div class="container" style="margin-top:3rem">
    <div class="row">
      <div class="col-lg-6  col-md-6  col-sm-12  col-xs-12">

        <div class="servicesmallpara">
          LOREM IPSUM QYUERTY GHJSI

        </div>
        <h3 class="service-sidehead ">
          Adipisicing Esse Exerc
        </h3>

        <p class="servicelargepara">
          Lorem ipsum Sunt adipisicing adipisicing esse exercitation consequat sed irure commodo cupidatat aute ea
          adipisicing consectetur nulla consequat irure consectetur veniam sit sit qui reprehenderit officia sunt nulla
          elit nisi proident.

        </p>
      </div>


      <div class="col-lg-6  col-md-6  col-sm-12  col-xs-12">
        <div class="headimg mt-5">
          <img src="../assets/service-1.jpg" class="img-fluid mainimg" alt="Responsive image" width="500" height="500">
        </div>

      </div>

      <div class="col-lg-6  col-md-6  col-sm-12  col-xs-12">
        <div class="headimg mt-5">
          <img src="../assets/service-2.jpg" class="img-fluid mainimg" alt="Responsive image" width="500" height="500">
        </div>

      </div>

      <div class="col-lg-6  col-md-6  col-sm-12  col-xs-12">


        <div class="servicesmallpara">
          LOREM IPSUM QYUERTY GHJSI

        </div>
        <h3 class="service-sidehead ">
          Adipisicing Esse Exerc
        </h3>

        <p class="servicelargepara">
          Lorem ipsum Sunt adipisicing adipisicing esse exercitation consequat sed irure commodo cupidatat aute ea
          adipisicing consectetur nulla consequat irure consectetur veniam sit sit qui reprehenderit officia sunt nulla
          elit nisi proident.

        </p>
      </div>

      <div class="col-lg-6  col-md-6  col-sm-12  col-xs-12">

        <div class="servicesmallpara">
          LOREM IPSUM QYUERTY GHJSI

        </div>
        <h3 class="service-sidehead ">
          Adipisicing Esse Exerc
        </h3>

        <p class="servicelargepara">
          Lorem ipsum Sunt adipisicing adipisicing esse exercitation consequat sed irure commodo cupidatat aute ea
          adipisicing consectetur nulla consequat irure consectetur veniam sit sit qui reprehenderit officia sunt nulla
          elit nisi proident.

        </p>
      </div>


      <div class="col-lg-6  col-md-6  col-sm-12  col-xs-12">
        <div class="headimg mt-5">
          <img src="../assets/service-3.jpg" class="img-fluid mainimg" alt="Responsive image" width="500" height="500">
        </div>

      </div>




    </div>
  </div>
</div>

<!-- end of service -->



<!-- customer -->

<div class="customer">
  <div class="text-center">
    <h1 class="customertitle">
      What our customers says
    </h1>

    <p class="customerpara mt-5">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit id error rem qui. Neque aperiam saepe placeat vero
      reprehenderit.

    </p>
  </div>


  <mat-card class="example-card" style="margin:5rem auto;">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <!-- <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
    </mat-card-header>
    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
    <mat-card-content>
      <p class="customer-sub-para text-center">
        “Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit modi voluptas vero iusto fuga quos totam eius,
        atis magnam tempora doloribus ducimus dolorem culpa animi beatae tenetur! Sapiente, quia tempora.. ”
      </p>
    </mat-card-content>
    <mat-card-actions>
      <p class="text-center">Jogn Doe</p>
      <p class=" text-center" style="color:grey">Product Manager </p>
    </mat-card-actions>
  </mat-card>

</div>
<!-- end of customer -->



<!-- price -->

<div class="price">
  <div class="text-center">
    <h1 class="pricetitle">
      Affordable Price
    </h1>

    <p class="pricepara mt-5">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit id error rem qui. Neque aperiam saepe placeat vero
      reprehenderit.

    </p>
  </div>



  <div class="container">
    <div class="row " style="margin-top:7rem">
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="basictitle text-center">
          <h2>Basic</h2>
          <p>$9.99/year</p>
        </div>
        <div class="basicsubtile text-center">
          <div class="basicsubtile-1">
            <p>100GB Storage</p>
            <p>10 Email</p>
            <p>10 Domain</p>
            <p>1GB Bandwidth</p>
            <button mat-raised-button color="accent" class="mt-2">Buy</button>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="basictitle text-center">
          <h2>Pro</h2>
          <p>$11.99/year</p>
        </div>
        <div class="basicsubtile text-center">
          <p>10GB Storage</p>
          <p>50 Email</p>
          <p>15 Domain</p>
          <p>2GB Bandwidth</p>
          <button mat-raised-button color="accent" class="mt-2">Buy</button>

        </div>

      </div>

      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="basictitle text-center">
          <h2>Premium</h2>
          <p>$8.50/year</p>
        </div>
        <div class="basicsubtile text-center">
          <p>200GB Storage</p>
          <p>20 Email</p>
          <p>5 Domain</p>
          <p>1.5GB Bandwidth</p>
          <button mat-raised-button color="accent" class="mt-2">Buy</button>

        </div>

      </div>
    </div>
  </div>
</div>


<!-- end of price -->


<!-- write us -->
<div class="writeus">
  <div class="text-center">
    <h1 class="writetitle">
      Write Us A Line
    </h1>

    <p class="writepara mt-5">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit id error rem qui. Neque aperiam saepe placeat vero
      reprehenderit.

    </p>
  </div>
  <div class="container">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Your Name" [formControl]="nameFormControl">
        <mat-error *ngIf="nameFormControl.hasError('text') && !nameFormControl.hasError('required')">
          Enter your Name
        </mat-error>
        <mat-error *ngIf="nameFormControl.hasError('required')">
          *Required
        </mat-error>
      </mat-form-field>



      <mat-form-field class="example-full-width">
        <input matInput placeholder="Your Email" [formControl]="emailFormControl">
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Enter your Email
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          *Required
        </mat-error>
      </mat-form-field>




      <mat-form-field class="example-full-width">
        <input matInput placeholder="Subject" [formControl]="subjectFormControl">
        <mat-error *ngIf="subjectFormControl.hasError('text') && !subjectFormControl.hasError('required')">
          Enter your Subjet
        </mat-error>
        <mat-error *ngIf="subjectFormControl.hasError('required')">
          *Required
        </mat-error>
      </mat-form-field>


      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Address" [formControl]="addressFormControl"></textarea>
        <mat-error *ngIf="addressFormControl.hasError('text') && !addressFormControl.hasError('required')">
          Enter your Address
        </mat-error>
        <mat-error *ngIf="addressFormControl.hasError('required')">
          *Required
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="accent" class="writeusbtn mt-3">Send Us</button>


    </form>
  </div>

</div>

<!-- end of write us -->




<!-- illum -->
<div class="illum">

  <div class="container">
    <div class="row  text-center">
      <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">

        <h1 class="illumtitle">Illum et quis officiis beata</h1>
        <p class="illumpara">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure nam, illum et quis officiis
          beatae.</p>
      </div>



      <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">

        <button mat-raised-button color="accent" class="illubtn mt-3">Buy Now</button>
      </div>
    </div>
  </div>
</div>
<!-- end of illum -->

<!-- footer -->

<div class="angland">
  <!-- style="3px 0px 4px rgba(0,0,0,.2);" -->
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-12  col-sm-12  col-xs-12" style="box-shadow: 3px 0px 4px rgba(0,0,0,.2);
      padding:2rem 3rem">

        <h1 class="ang">AngLand</h1>
        <p class="angpara">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, natus.
        </p>
      </div>

      <div class="col-lg-4 col-md-12  col-sm-12  col-xs-12" style="box-shadow: 3px 0px 4px rgba(0,0,0,.2);
     padding:2rem 3rem">
        <button mat-icon-button aria-label="Example icon-button with a heart icon" color="accent">
          <mat-icon>mail</mat-icon>
        </button>bishwas1216@gmail.com<br>

        <button mat-icon-button aria-label="Example icon-button with a heart icon" color="accent">
          <mat-icon>map</mat-icon>
        </button>
        New Trent Bridge, 101 Path, Germany
      </div>



      <div class="col-lg-3 col-md-12  col-sm-12  col-xs-12 " style="box-shadow: 3px 0px 4px rgba(0,0,0,.2);
      padding:2rem 3rem">
        <div>
          <button mat-raised-button color="accent" class="footbtn ">Need Help?</button>
        </div>
        <div>
          <button mat-raised-button color="accent" class="footbtn mt-3">BUY NOW</button>
        </div>

      </div>


      <div class="col-lg-1 col-md-12  col-sm-12  col-xs-12">

      </div>
    </div>
  </div>


  <!-- end of footer -->

  <script>
    // window.onscroll = function() {myFunction()};

    // var navbar = document.getElementById("navbr");
    // var sticky = navbar.offsetTop;

    // function myFunction() {
    //   if (window.pageYOffset >= sticky) {
    //     navbar.classList.add("sticky")
    //   } else {
    //     navbar.classList.remove("sticky");
    //   }
    // }

  </script>
